.top-bar {
  background-color: #000;
  color: white;
  padding: 10px 20px;
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.app-logo {
  height: 80px;
  width: 80px;
  object-fit: contain;
}

.center-content {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.cover-art {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.user-pfp {
  position: absolute;
  right: 20px;
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.top-bar h1 {
  color: #fff;
  font-size: 1.2rem;
  margin: 0;
}
  
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap; /* allows wrapping on smaller screens */
  gap: 2rem;
  padding: 1rem;
}

.track-section,
.artist-section {
  flex: 1 1 45%; /* grow, shrink, basis */
  max-width: 45%;
}

.track,
.artist {
  margin-bottom: 1rem;
}
